.about {
  background: #151821;
  padding: 25px;
  border-radius: 20px;
  color: #ddd;
  line-height: 1.6;
  text-align: left;
}

/* TITLE */
.title {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.underline {
  width: 40px;
  height: 4px;
  background: #facc15;
  border-radius: 10px;
  margin: 5px 0 20px;
}

/* TERMINAL */
.terminal {
  font-family: monospace;
  color: #aaa;
  margin: 15px 0;
}

/* TEXT */
.about p {
  font-size: 14px;
  margin-bottom: 12px;
}

.highlight {
  color: #facc15;
}

.highlight-line {
  color: white;
  margin-top: 10px;
}

/* GRID LAYOUT */
.stats-grid {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}

.stats-grid > * {
  width: 50%;
}

.lifestyle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}