body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f1117;
  color: white;
}
::-webkit-scrollbar{
  display: none;
}
.app {
  display: flex;
  height: 100vh;
  background: #0f1117;
}

.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: hidden; /* 🔥 prevents weird duplication */
}
/* Hamburger Button: Hidden on Desktop */
.mobile-menu-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 0px;
  z-index: 100;
  background: #1e1e26;
  border: 1px solid #383838;
  color: #facc15;
  padding: 12px;
  border-radius: 12px 0 0 12px;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .mobile-menu-btn { display: block; }
  .app { padding: 5px; flex-direction: column; }
  .main { padding: 5px; }
}

@media (max-width: 768px) {
  /* Adds space at the bottom of the main content 
     so the Navbar doesn't hide anything */
  .main {
    padding-bottom: 80px; 
  }
}